# build dirs
cmake-build-*/
nvim-build*/

# caches
.cache*/

# cmake intermeds
CMakeFiles/
CMakeCache.txt

# ide files
.idea/
*.iml

# os files
.DS_Store
Thumbs.db

# executables
*.exe
*.out
*.app

# obj
*.o
*.obj
*.bin

# temps
*.tmp
