# build dirs
cmake-build-*/
nvim-build*/
build*/
# caches
.cache*/
# must be generated manually
compile_commands.json

# cmake intermeds
CMakeFiles/
CMakeCache.txt

# ide files
.idea/
*.iml
.vscode*/

# python venv
.venv*/
.envrc

# os files
.DS_Store
Thumbs.db

# executables
*.exe
*.out
*.app

# obj
*.o
*.obj
*.bin

# temps
*.tmp
